<p style="color: green"><%= notice %></p>

<h2>Comments</h2>
  <% if @comments.any? %>
    <% @comments.each do |comment| %>
    <%= render @comment %>

      <div>
        <% if @comment.user == current_user %>
          <%= button_to "Destroy this comment", @comment, method: :delete %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No comments available.</p>
  <% end %>

<%= link_to "New Comment", new_report_comment_path(@report) %>
