<h1>User</h1>

<table>
  <thead>
    <tr>
      <th>name</th>
      <%# <th>Email</th>
      <th></th> %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <%# <td><%= user.email %>
      <td><%= link_to 'User details', user %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<li><%= link_to 'Home', root_path %></li>
