<% if @mentions.present? %>
  <div class="mentions-container">
    <h3><%= t('.mentioned') %></h3>
    <ul>
      <% @mentions.each do |mention_rp| %>
        <li>
          <%= link_to mention_rp.title, mention_rp %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
