<h1>Reports</h1>

<div id="reports">
  <% @reports.each do |report| %>
    <div>
      <strong>Title:</strong> <%= report.title %> /
      <%= report.user.name %>
      <%= link_to "Show this report", report %>
    </div>
  <% end %>
</div>

<%= link_to "New report", new_report_path %>
