<div class="mentions-container">
  <h3><%= t('.mentioned') %></h3>
  <% if (mentions = report.mentioned_reports.order(:id).includes(:mentioned_reports).presence) %>

    <ul>
      <% mentions.each do |mention_rpt| %>
        <li>
          <%= link_to mention_rpt.title, mention_rpt %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
